.f-cursor {
  cursor: pointer;
}
html,body{
  //min-width: 1300px !important;
}


.el-image{
  width: 100%;
  height: 100%;
}

.april-toe {
  width: 90%;
  overflow: hidden;
  word-wrap: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.april-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  transform-origin: center center;
  &:hover {
    transform: scale(1.6);
  }
}