.f-cursor {
  cursor: pointer;
}



.el-image{
  width: 100%;
  height: 100%;
}
.april-img {
  width: 100%;
  height: 100%;
  transition: all 0.3s linear;
  transform-origin: center center;
  &:hover {
    transform: scale(1.6);
  }
}